/* Profile.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 100vw; /* Встановлюємо ширину 100% ширини вікна */
  margin: 0;
  padding: 0;
}

.container {
  border: 3px solid rgb(5, 5, 5);
  border-radius: 20px;

  font-size: 18px;
  text-align: left;
  max-width: 400px; /* Максимальна ширина картки */
  width: 100%;
  height: 100hv;
  box-sizing: border-box;
  overflow: hidden;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(5, 5, 5);
  background-color: black;
}

.items {
  list-style-type: none; /* Видаляє маркери списку */
  padding: 0;
  margin: 0;
  display: flex; /* Розташовує елементи горизонтально */
  justify-content: space-between; /* Розподіляє простір між елементами */
}

.item {
  display: flex; /* Дозволяє вирівнювання тексту всередині */
  flex-direction: column; /* Розташовує текст вертикально */
  align-items: center; /* Центрує текст всередині квадратика */
  justify-content: center; /* Центрує текст по вертикалі */
  background-color: #f0f0f0; /* Сірий фон */
  width: 100%;
  border: 1px solid rgb(5, 5, 5);
  color: #333; /* Колір тексту */
}

.label,
.value {
  display: block;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  font-weight: normal;
}

username {
  font-weight: bold; /* Жирний текст */
}
