.container {
  display: flex; /* Включає Flexbox */
  justify-content: space-between; /* Розподіляє простір між елементами */
  align-items: stretch; /* Розтягує елементи по висоті контейнера */
  gap: 10px; /* Відстань між елементами (можна прибрати або змінити) */
  overflow: hidden;
}
.box {
  flex: 1; /* Кожен елемент займає рівну частину простору контейнера */

  padding: 80px 20px 20px 20px; /* Відступи всередині елементів */
  box-sizing: border-box; /* Включає обводку і відступи в розмір елемента */
  text-align: center; /* Центрує текст всередині */
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
}
