.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  list-style: none;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 80px 10px 20px 20px; /* Відступи всередині елементів */
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
}

.box img {
  width: 240px;
  /* Можна задати висоту, щоб зберегти пропорції */
}

.box:hover {
  background-color: rgb(186, 189, 189);
}
.isActive {
  color: green;
}

.isRetired {
  color: orangered;
}
