.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.th,
.td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.th:last-child,
.td:last-child {
  border-right: none; /* Удаляє праву межу для останнього стовпця */
}

.th {
  background-color: #000000;
  font-weight: bold;
  color: #fff;
}

.trEven {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.5);
  color: #000000;
}
